.background {
  background-image: url("../../../public/images/30000941_m.jpg");
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

// .image {
//   object-fit: cover;
// }
